.header-container {
    background-color: #3B536F;
    color: whitesmoke;
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.header-logo {
    margin-left: 5vw;
}


.login-btn,
.transfer-btn,
.logout-btn {
    margin-right: 1vw;
}

@media screen and (max-width: 576px) {

    .login-btn,
    .transfer-btn,
    .logout-btn {
        width: 3.5rem;
        height: 2rem;
        font-size: 12px;
    }
}